/* font face declarations */
@font-face {
    font-family: "Calligraffiti";
    src: url("./assets/calligraffiti/Calligraffiti.ttf");
}

@font-face {
    font-family: "Alice Regular";
    src: url("./assets/alice/Alice-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

#site-header {
    max-width: fit-content;
    margin-inline: auto;
    margin-block-start: 30px;
}

#site-nav {
    margin-inline: auto;
    margin-block: 15px;
    display: flex;
    gap: 25px;
}

.nav-btn {
    font-size: 1.45rem;
    font-family: 'Alice Regular', Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: #295390;
    border: none;
    border-bottom: 2px solid #232937;
}

/* shared page styles */
#page-banner, #restaurant-features section, #menu-container section {
    text-align: center;
    margin-block: 30px;
    margin-inline: auto;
    padding: 20px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#page-banner h1, #menu-container h1, #about-container h1 {
    font-family: Calligraffiti, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.25rem;
}

#page-banner p, #restaurant-features section p {
    font-family: 'Alice Regular', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.30rem;
    letter-spacing: 0.7px;
}

/* #restaurant-features section h2, #menu-container section h2, #about-container section h2 {
    font-family: Calligraffiti, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.85rem;
} */

#menu-container h1, #about-container h1 {
    text-align: center;
    margin-block-start: 30px;
}

/* home page */
#page-banner {
    background-image: url("./assets/coloured-whale-sketch.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#dining-feature {
    background-color: #e7dfce;
}
#service-feature {
    background-color: #a0c1e7;
}
#scenery-feature {
    background-color: #295390;
    color: #f1f1f1;
}
#ambience-feature {
    background-color: #232937;
    color: #f1f1f1;
}

/* #menu-container section {
    margin-block: 25px;
    width: 400px;
    height: auto;
    border-radius: 0%;
    background-color: #a0c1e7;
}

#menu-container section ul {
    list-style-type: none;
} */