/* body {
    background-image: url("./assets/coloured-whale-sketch.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

/* @font-face {
    font-family: "Calligraffiti";
    src: url("./assets/calligraffiti/Calligraffiti.ttf");
}

@font-face {
    font-family: "Alice Regular";
    src: url("./assets/alice/Alice-Regular.ttf");
} */