@font-face {
    font-family: "Calligraffiti";
    src: url("./assets/calligraffiti/Calligraffiti.ttf");
}

@font-face {
    font-family: "Alice Regular";
    src: url("./assets/alice/Alice-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

#site-header {
    max-width: fit-content;
    margin-inline: auto;
    margin-block-start: 30px;
}

#site-nav {
    margin: 15px;
    display: flex;
    gap: 25px;
}

.nav-btn {
    font-size: 1.45rem;
    padding: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 2px dashed black;
}

#page-banner, #restaurant-features section {
    text-align: center;
    margin-block: 30px;
    margin-inline: auto;
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#page-banner {
    background-image: url("./assets/coloured-whale-sketch.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#dining-feature {
    background-color: #e7dfce;
}
#service-feature {
    background-color: #a0c1e7;
}
#scenery-feature {
    background-color: #295390;
}
#ambience-feature {
    background-color: #232937;
}