/* font face declarations */
@font-face {
    font-family: "Calligraffiti";
    src: url("./assets/calligraffiti/Calligraffiti.ttf");
}

@font-face {
    font-family: "Alice Regular";
    src: url("./assets/alice/Alice-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

#site-header {
    max-width: fit-content;
    margin-inline: auto;
    margin-block-start: 30px;
}

#site-nav {
    max-width: fit-content;
    margin-inline: auto;
    margin-block: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.nav-btn {
    font-size: 1.45rem;
    font-family: 'Alice Regular', Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: #295390;
    border: none;
    border-bottom: 2px solid #232937;
}

#content {
    margin-inline: 20px;
}

/* shared page styles */
#page-banner, #restaurant-features section, #menu-container section {
    text-align: center;
    margin-block: 30px;
    margin-inline: auto;
    padding: 20px;
    max-width: 450px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#page-banner h1, #menu-container h1, #about-container h1 {
    font-family: Calligraffiti, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.25rem;
}

#page-banner p, #restaurant-features section p, #menu-container section li, #about-container p {
    font-family: 'Alice Regular', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.30rem;
    letter-spacing: 0.7px;
}

#restaurant-features section h2, #menu-container section h2, #about-container section h2 {
    font-family: Calligraffiti, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.85rem;
}

#menu-container h1, #about-container h1 {
    text-align: center;
    margin-block-start: 30px;
}

/* home page */
#page-banner {
    background-image: url("./assets/coloured-whale-sketch.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 500px;
    opacity: 0.85;
}

#dining-feature {
    background-color: #e7dfce;
}
#service-feature {
    background-color: #a0c1e7;
}
#scenery-feature {
    background-color: #295390;
    color: #f1f1f1;
}
#ambience-feature {
    background-color: #232937;
    color: #f1f1f1;
}

/* menu page */
#menu-container section {
    margin-block: 25px;
    border-radius: 0%;
    background-color: #a0c1e7;
}

#menu-container section ul {
    list-style-type: none;
}

#menu-container section li {
    margin: 10px;
    padding: 10px;
}

#menu-container section#appetizers li, #menu-container section#soups li, #menu-container section#salads li {
    border-bottom: 2px solid #f1f1f1;
}

#menu-container section#mains li, #menu-container section#desserts li {
    border-bottom: 2px solid #232937;
}

#menu-container section#appetizers {
    background-color: #232937;
    color: #DEDEDE;
}

#menu-container section#soups {
    background-color: #69788e;
    color: #DEDEDE;
}

#menu-container section#salads {
    background-color: #295390;
    color: #DEDEDE;
}

#menu-container section#mains {
    background-color: #a0c1e7;
}

#menu-container section#desserts {
    background-color: #e7dfce;
}

/* about page */
#about-container h1, #about-container section#story-container h2, #about-container section#vision-container h2, #about-container section#location-container h2 {
    background-image: url("./assets/whale-watercolour-painting.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    margin-block: 30px;
    margin-inline: auto;
    padding: 20px;
    max-width: 450px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-container section p {
    margin-block: 25px;
    margin-inline: auto;
    max-width: 450px;
    padding: 30px;
    height: auto;
    border-radius: 0%;
    background-color: #295390;
    color: #DEDEDE;
}

#about-container #blockquote-container {
    background-color: #e7dfce;
}

#about-container #blockquote-container p {
    background-color: #232937;
}